@model ZipShip.Models.OrderViewModel

@{
    ViewBag.Title = "Create";
}

<head>
    <style>
        a:hover {
            background-color: transparent;
            color: white;
            border-color: white;
            font-weight: bolder;
        }

        .btn:hover {
            color: white;
        }

        a {
            color: white;
            background-color: purple;
        }

        input:hover {
            background-color: transparent;
            color: white;
            border-color: white;
            font-weight: bolder;
        }

        input {
            color: white;
            background-color: purple;
        }
        body {
            background-image: url('/Content/Images/orders.jpg');
            position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .text {
            color: white;
        }
        .h1, h2, h3 {
            color: white;
        }

    </style>
</head>
<body class="text">


    <h2>Create Your Order</h2>


    @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DealPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DealPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DealPrice, "", new { @class = "text" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    <input class="form-control" type="file" name="Image" id="Image" />
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn" style="width:330px;height:40px" />
                </div>
            </div>
            <div class="form-group" style="padding-left:210px">
                <form method="get">
                    <a href="~/Account/Index" class="btn" style="width:280px;height:40px"><b class="pt-3">My Account</b></a>

                </form>
            </div>
        </div>
    }


</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
